body{
    background-color: #354152;

}

h1{
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: #fff;
}

#cinema ,#movie{
    color: #fff;
    font-size: 20px;
}

.data{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 230px;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    margin: 50px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 20px rgb(0, 164, 209);
    text-decoration: none;
    /* box-shadow: 2px 2px 2px 2px ; */
}

h2{
    margin-left: 50px;
}