body{
    background-color: #354152;

}

h1{
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: #fff;
}

#cinema ,#movie{
    color: #fff;
    font-size: 20px;
}