#seat{
    font-size: 20px;
    margin-bottom: 200px;
    
}

.btn{
    box-shadow: 0 0 50px #34c2f1 ;
}

#display{
    width: 700px;
    height: 70px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 50px;
}

a{
    /* display: block; */
    display: inline-block;
    padding: 20px;
    /* display: flex; */
}

h2{
    color: #fff;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}


body{
    background-color: #354152;   
}

h1{
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

#price{
    color: #fff;
    border: 2px solid #fff;
    width: 100px;
    margin-top: 100px ;
    text-align: center;
    margin: 0 auto;
    display: none;
    width: 120px;
    border-radius: 2px;
}

#price:hover{
    background-color: #000;
    color: #fff;
}


.btn{
    margin: 40px 20px 0 20px;
    font-size: 20px;
    width: 40px;
   
}

#pay{
    margin-left: 653px;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    width: 200px;
    border-radius:  10px;
    padding-top: 5px;
    padding-bottom: 5px;
 
}

button{
    /* padding: 5px; */
    box-shadow: 0 0 200px rgb(0, 164, 209);;
}