#seat{
    font-size: 20px;

}

a{
    /* display: block; */
    display: inline-block;
    padding: 20px;
    /* display: flex; */
}

#seatbtn{
    margin: 40px 20px 0 20px;
    font-size: 20px;
    width: 50px;
  
}

body{
    background-color: #354152;   
}

h1{
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
