.data{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 230px;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    margin: 50px;
    color: #fff;
    font-weight: bold;

    /* box-shadow: 2px 2px 2px 2px ; */
}

.data:hover{
    color: red;
   padding: 25px;
   /* transform: rotate(360deg);     */
   transition: 0.5s; 

}

#searchcinema ,#searchmovie{
    height: 30px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 4px 2px 1px 1px;
    margin-top: 30px;
}

i{
    font-size: 20px;
}

h1{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

body{
    background-color: #354152;
}


